<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"custom-theme/contact-hero"} /-->
<!-- wp:pattern {"slug":"custom-theme/contact-support"} /-->
<!-- wp:pattern {"slug":"custom-theme/contact-help-cta"} /-->
<!-- wp:pattern {"slug":"custom-theme/contact-recent-activity"} /-->
<!-- wp:pattern {"slug":"custom-theme/contact-form-map"} /-->

<!-- wp:group {"tagName":"main","className":"bg-white"} -->
<main class="wp-block-group bg-white">

  <!-- wp:pattern {"slug":"custom-theme/contact-section"} /-->

</main>
<!-- /wp:group -->
 
<!-- wp:pattern {"slug":"custom-theme/home-download-cta"} /-->

<!-- wp:template-part {"slug":"footer"} /-->