<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"py-20","layout":{"type":"constrained"}} -->
<main class="wp-block-group py-20">

    <!-- wp:post-title {"level":1} /-->

    <!-- wp:post-featured-image /-->

    <!-- wp:post-date /-->

    <!-- wp:post-author-name /-->

    <!-- wp:post-content /-->

    <!-- wp:paragraph -->
<p>THIS IS SINGLE-POST.HTML</p>
<!-- /wp:paragraph -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->